/* Resetting margin and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
pre,
a,
blockquote,
table,
hr,
tr,
td,
th,
img,
video,
audio,
iframe,
form,
fieldset,
legend,
label,
input,
textarea,
select,
button {
  margin-top: 1rem;
}

hr {
  margin-bottom: 1em;
}

/* Importing fonts */
@font-face {
  font-family: Toren;
  src: url(/fonts/Toren-Mono.otf);
}

@font-face {
  font-family: PP Neue Machina;
  src: url(/fonts/PPNeueMachina-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: PP Neue Machina;
  src: url(/fonts/PPNeueMachina-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: PP Neue Machina;
  src: url(/fonts/PPNeueMachina-Ultrabold.otf);
  font-weight: bold;
}

body {
  background-color: #fff;
  background-size: 4px 4px;
  color: #1e1e1e;
  font-family: "Toren", serif;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0 auto;
  font-size: 1rem;
}

#title {
  font-family: "Toren", serif;
  font-weight: 300;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Toren", serif;
  font-weight: normal;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.755rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1rem !important;
  text-transform: uppercase;
}

pre {
  width: 100%;
  background-color: #0E1116;
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  white-space: pre-wrap;
}

pre code {
	background-color: #0E1116;
	font-size: 0.8rem;
	padding: 0rem;
}

code {
  background-color: #eeecfb;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
}

li, p {
  line-height: 1.3;
}

a {
  color: #1e1e1e;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  text-decoration: underline;
}

a:hover {
  color: #1e1e1e;
  background-color: #DDE392;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0rem 1rem;
  }
}
