/* Resetting margin and padding */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Importing fonts */
@font-face {
	font-family: Toren;
	src: url(src/fonts/Toren-Mono.otf);
}

@font-face {
	font-family: PP Neue Machina;
	src:url(src/fonts/PPNeueMachina-Regular.otf);
	font-weight: normal;
}

@font-face {
	font-family: PP Neue Machina;
	src:url(src/fonts/PPNeueMachina-Light.otf);
	font-weight: lighter;
}

@font-face {
	font-family: PP Neue Machina;
	src:url(src/fonts/PPNeueMachina-Ultrabold.otf);
	font-weight: bold;
}

body {
	background-color: #fff;
	background-size: 4px 4px;
	color: #1e1e1e;
	font-family: 'Toren', serif;
	font-weight: 400;
	padding: 0.5em 1em;
}

#title {
	font-family: 'Toren', serif;
	font-weight: 300;
	z-index: 1;
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: 'Toren', serif;
}

h2, h3 {
	font-size: 12px;
	font-weight: normal;
}

#title{
	display: none;
}

#title nav {
	margin-top: 3em;
}

a {
	color: #1e1e1e;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
}

a:hover {
	color: #1e1e1e;
	background-color: greenyellow;
}

img {
	max-width: 400px;
	max-height: 400px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 4em;
}

@media screen and (max-width: 768px) {
	body {
		padding: 3em;
	}
}

/* General Styles */
* {
	margin: 5px 0;
}

code {
	font-size: 1em;
	background-color: #b7b7be;
}
